$cool-black: #1B1B1B;

footer {
    background-color: $cool-black;

    .container-lg {
        height: 200px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    a {
        color: inherit;
        text-align: center;
    }
}

/* botonprimario */
.boton-ver-mas {
    display: inline-block;
    background-color: $cool-black;
    padding: 10px 14px;
    border-radius: 7px;
    color: white;
}

.boton-leer {
    @extend .boton-ver-mas;
    margin: 20px auto;
    padding: 10px;

    &:hover {
        color: white;
    }
}

.grid-categorias {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;

    div {
        position: relative;
        padding: 20px;

        img {
            width: 100%;
        }

        p {
            position: absolute;
            bottom: 50px;
            left: 50px;
            font-size: 30px;
            font-weight: bolder;
        }
    }
}

.tendencias-flex {
    width: 100%;
    margin: 150px 0 75px 0;
    justify-content: space-between;
    align-items: center;

    .d-flex {
        width: 50%;
    }
}

.articulos-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 100px 0;

    img{
        width: 100%;
    }
}

.articulos-relative > div {
    position: relative;
    transition: ease 200ms;

    &:hover {
        transform: scale(1.1);
        z-index: 100;

        .boton-leer {
            animation: breathing 2s ease infinite normal;
        }
    }
}

.articulo-info-flex {
    justify-content: space-between;

    span {
        font-size: 12px;
        font-weight: normal;
    }
}

.placeholder-icon {
    border-radius: 5px;
    padding-left: 20px;
    width: 100%;
    transition: ease 200ms;
    position: absolute;

    &:hover, &:focus {
        width: 320px;
        height: 32px;
    }
}

.flex-contacto-form {
    input, textarea, button {
        margin: 10px 0;
    }
}

#footer-contacto {
    position: absolute;
    bottom: 0;
    width: 100%;

    ul {
        width: auto;
    }
}

#header-contacto {
    ul {
        width: auto;
    }
}
