$estilos: (
    oscuro: #1B1B1B,
    claro: white
);

@mixin general($display, $color, $bg_color, $heigth, $width) {
    display: $display;
    color: $color;
    background-color: $bg_color;
    height: $heigth;
    width: $width;
}

footer {
    background-color: map-get($estilos, oscuro);

    .container-lg {
        @include general(flex, map-get($estilos, claro), inherit, 200px, auto);
        justify-content: space-between;
        align-items: center;
    }
    
    a {
        color: inherit;
        text-align: center;
    }
}

/* botonprimario */
.boton-ver-mas {
    @include general(inline-block, map-get($estilos, claro), map-get($estilos, oscuro), auto, auto);
    padding: 10px 14px;
    border-radius: 7px;
}

.boton-leer {
    @extend .boton-ver-mas;
    margin: 20px auto;
    padding: 10px;

    &:hover {
        color: map-get($estilos, claro);
    }
}

.grid-categorias {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;

    div {
        position: relative;
        padding: 20px;

        img {
            width: 100%;
        }

        p {
            position: absolute;
            bottom: 50px;
            left: 50px;
            font-size: 30px;
            font-weight: bolder;
        }
    }
}

.tendencias-flex {
    width: 100%;
    margin: 150px 0 75px 0;
    justify-content: space-between;
    align-items: center;

    .d-flex {
        width: 50%;
    }
}

.articulos-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 100px 0;

    img{
        width: 100%;
    }
}

.articulos-relative > div {
    position: relative;
    transition: ease 200ms;

    &:hover {
        transform: scale(1.1);
        z-index: 100;

        .boton-leer {
            animation: breathing 2s ease infinite normal;
        }
    }
}

.articulo-info-flex {
    justify-content: space-between;

    span {
        font-size: 12px;
        font-weight: normal;
    }
}

.placeholder-icon {
    border-radius: 5px;
    padding-left: 20px;
    width: 100%;
    transition: ease 200ms;
    position: absolute;

    &:hover, &:focus {
        width: 320px;
        height: 32px;
    }
}

.flex-contacto-form {
    input, textarea, button {
        margin: 10px 0;
    }
}

#footer-contacto {
    position: absolute;
    bottom: 0;
    width: 100%;

    ul {
        width: auto;
    }
}

#header-contacto {
    ul {
        width: auto;
    }
}